<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <link rel="icon" href="./logoApp.jpg">
  <link rel="manifest" href="./app.webmanifest">
 
  <title>Fast Resto</title>
</head>
<body>
    <header class="app-bar">
        <div class="app-bar__menu">
            <div id="hamburgerButton">☰</div>
        </div>
        <div class="app-bar__brand">
            <h1><a href="#/">Fast Resto Catalogue</a></h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
              <li><a href="#/fast-list">Fast-List</a></li>
              <li><a href="#/favorite">Favorite</a></li>
            </ul>
        </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
    <p>Copyright @ 2023 - Fast Resto</p>
    </footer>
</body>
</html>